html {
    font-size: 62.5%;
}

@keyframes flyAway {
    0% {
        top: 0%;
    }
    
    100% {
        top: -200%;
    }
}
@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(3deg);
    }
    40% {
        transform: rotate(-3deg);
    }
    60% {
        transform: rotate(3deg);
    }
    80% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Boogaloo', cursive;
    letter-spacing: 1px;
}
img {
    display: block;
    width: 100%;
}
h1 {
    text-transform: uppercase;
    font-size: 8rem;
    margin: 13vh auto 0 auto;
    text-align: right;
}
h2 {
    font-size: 4rem;
    margin: 15px auto 30px auto;
}
h3 {
    font-size: 4.5rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
    margin: 50px 0 0 0;
}
section {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.text, .startQuiz, .submit, .tweetIt, .playAgain, .decoyTweetIt {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    padding: 2px 16%;
    background: black;
    display: inline-block;
    text-align: center;
    margin-top: 25px;
    border: 3px solid transparent;
    transition: border 0.2s ease;
}
.submit, .startQuiz, .decoyTweetIt, .playAgain {
    padding: 1px 7%;
}
a:hover, a:focus {
    border-color: white;
}
a p {
    margin: 0;
    font-size: 3rem;
}

.wiggling {
    animation: wiggle 1s forwards 1 ease;
}


