html {
    font-size: 62.5%;
}

@keyframes flyAway {
    0% {
        top: 0%;
    }
    
    100% {
        top: -200%;
    }
}
@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(3deg);
    }
    40% {
        transform: rotate(-3deg);
    }
    60% {
        transform: rotate(3deg);
    }
    80% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Boogaloo', cursive;
    letter-spacing: 1px;
}
img {
    display: block;
    width: 100%;
}
h1 {
    text-transform: uppercase;
    font-size: 8rem;
    margin: 13vh auto 0 auto;
    text-align: right;
}
h2 {
    font-size: 4rem;
    margin: 15px auto 30px auto;
}
h3 {
    font-size: 4.5rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
    margin: 50px 0 0 0;
}
section {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.text, .startQuiz, .submit, .tweetIt, .playAgain, .decoyTweetIt {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    padding: 2px 16%;
    background: black;
    display: inline-block;
    text-align: center;
    margin-top: 25px;
    border: 3px solid transparent;
    transition: border 0.2s ease;
}
.submit, .startQuiz, .decoyTweetIt, .playAgain {
    padding: 1px 7%;
}
a:hover, a:focus {
    border-color: white;
}
a p {
    margin: 0;
    font-size: 3rem;
}

.wiggling {
    animation: wiggle 1s forwards 1 ease;
}

/*   MEDIA QUERIES   */
@media (max-width: 1000px) {
    h2 {
        font-size: 4vw;
    }
    .splashImages {
        width: 70%;
    }
    .splash a {
        font-size: 3rem;
    }
    a.credits {
        font-size: 1.8rem;
    }
}
@media (max-width: 800px) {
    h1 {
        font-size: 10vw;
    }
    .accent {
        width: 25vw;
    }
    a.playAgain, a.decoyTweetIt {
        font-size: 4vw;
    }
    .splash p {
        font-size: 3.1vw;
    }
    .q p {
        font-size: 3.8vw;
    }
    a.submit {
        top: 79vh;
    }
    a.credits {
        font-size: 1.8rem;
    }
}
@media (max-width: 600px) {
    
}
@media (max-width: 480px) {
    h1 {
        margin-top: 25vh;
    }
    h2 {
        max-width: 330px;
    }
    h3 {
        margin-top: 20px;
        font-size: 3.4rem;
        width: 90%;
    }
    section.q {
        display: flex;
        flex-direction: column;
    }
    .q .leftSide, .q .rightSide {
        width: 100%;
    }
    .q .leftSide {
        padding-top: 75px;
    }
    .q .rightSide {
        padding-bottom: 100px;
    }
    .q .imgHolder {
        width: 90px;
    }
    .q img.shaken {
        width: 90px;
        height: 90px;
    }
    .q p {
        font-size: 1.8rem;
    }
    .text {
        margin-top: 11px;
        padding: 2px 65px;
    }
    .result .imgHolder {
    width: 190px;
    margin: 0 auto 0 auto;
    }
    a.credits {
        font-size: 3.8vw;
    }
    .result h3 {
        margin-top: 3vh;
    }
}
